 <div class="row">
  <h1> <small>Estudiante</small></h1>
</div>

<div class="row">
  <div class="col-md-12 text-right">
    <button [disabled]="!forma.valid"
      type="submit" class="btn btn-outline-primary">
      Guardar Cambios
    </button>

  <button [routerLink]="['/estudiantes']"
    class="btn btn-outline-danger"
    type="button" name="button">
    Regresar
  </button>

  <button (click)="agregarNuevo(forma)"
  type="button"
  class="btn btn-outline-success">
  Nuevo Estudiante
  </button>
</div>
</div>

<br>

<form (ngSubmit)="guardar()" #forma="ngForm">

<div class="form-group row">

  <label for="example-text-input" class="col-2 col-form-label">Tipo Documento</label>
  <div class="col-md-6">

      <select [(ngModel)]="estudiante.tipoDocumento"
        name="tipoDocumento"
        class="form-control"
        id="exampleFormControlSelect1">
        <option>C.C.</option>
        <option>C.E.</option>
        <option>T.I.</option>
        <option>Pasaporte</option>
      </select>

  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Documento</label>
  <div class="col-md-6">
    <input [(ngModel)]= "estudiante.documento"
    name="documento"
    required
    class="form-control" type="text"  id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
  <div class="col-md-6">
    <input [(ngModel)]="estudiante.nombre"
    name="nombre"
    required
    class="form-control" type="text"  id="example-text-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Sexo</label>
  <div class="col-md-6">

      <select [(ngModel)]="estudiante.sexo"
        name="sexo"
        class="form-control"
        id="exampleFormControlSelect1">
        <option>M</option>
        <option>F</option>
      </select>

  </div>
  </div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Dirección</label>
  <div class="col-md-6">
    <input [(ngModel)]="estudiante.direccion"
    name="direccion"
    class="form-control" type="text"  id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Teléfono 1</label>
  <div class="col-md-6">
    <input [(ngModel)]="estudiante.telefono1"
    name="telefono1"
    class="form-control" type="text"  id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-2 col-form-label">Teléfono 2</label>
  <div class="col-md-6">
    <input [(ngModel)]="estudiante.telefono2"
    name="telefono2"
    class="form-control" type="tel"  id="example-tel-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-2 col-form-label">Teléfono 3</label>
  <div class="col-md-6">
    <input [(ngModel)]="estudiante.telefono3"
    name="telefono3"
    class="form-control" type="tel"  id="example-tel-input">
  </div>
</div>

<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Email</label>
  <div class="col-md-6">
    <input [(ngModel)]="estudiante.email"
    name="email"
    class="form-control" type="email"  id="example-email-input">
  </div>
</div>

<br>

<div class="form-group row">
  <div class="col-md-12 text-right">
  <button [disabled]="!forma.valid"
    type="submit" class="btn btn-outline-primary">
    Guardar Cambios
  </button>
</div>
</div>

</form>
