<div class="row">
 <h1> <small>Estudiantes</small></h1>
</div>


  <br>
<div class="row">
  <div class="col-md-12 text-right">
  <button [routerLink]="['/estudiante','nuevo']"
    class="btn btn-outline-primary"
    type="button" name="button">
    Nuevo
  </button>
</div>
</div>
<br>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Cédula</th>
      <th>Ver</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <th scope="row">1</th>
      <td>{{estudiante.nombre}}</td>
      <td>{{estudiante.tipoDocumento}}</td>
      <td><button>Editar</button></td>
    </tr>

  </tbody>
</table>
